
/* duped */
#activityComponent {
    display: flex;
    flex-direction: column;
}

#filters {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    width: 100%;
}

.filterBtn {
    cursor: pointer;
    font-weight: bold;
    color: #333944;
    padding: 0.4rem 0.8rem;
    background: none;
    background: none;
    border: none;
    border-radius: 8px;
    box-shadow:
        10px 10px 20px rgba(74, 113, 156, 0.3),
        inset -5px -5px 5px rgba(74, 114, 156, 0.3),
        inset 5px 5px 5px rgba(74, 114, 156, 0.2);
    position: relative;
}

.filterBtn:disabled {
  filter: invert(51%) sepia(95%) saturate(0%) hue-rotate(228deg) brightness(112%) contrast(88%);
}

.filterBtnActive{
    filter: invert(51%) sepia(95%) saturate(0%) hue-rotate(228deg) brightness(112%) contrast(88%);
}

.dropdownMenu{
    position: absolute;
    z-index: 20;
    border-radius: 8px;
    background: white;
    box-shadow:
        10px 10px 20px rgba(74, 113, 156, 0.3),
        inset -5px -5px 5px rgba(74, 114, 156, 0.4),
        inset 5px 5px 5px rgba(74, 114, 156, 0.2);
}

.dropdownMenu button{
    cursor: pointer;
    display: none;
    margin: 0.1rem 0;
    width: 100%;
    background: transparent;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    color: #333944;
}

.showDropdownMenu button{
    display: flex;
}


.filterBtnIsActive{
    color: rgb(74, 114, 156) !important;
}

/* duped */
#eventsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    height: 80vh;
}

/* duped */
#eventsContainer::-webkit-scrollbar {
    width: 15px;
    border-radius: 2rem;
    box-shadow:
        inset -5px -5px 3px rgba(74, 114, 156, 0.2),
        inset 5px 5px 5px rgba(74, 114, 156, 0.2);
}

/* duped */
#eventsContainer::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    box-shadow:
        inset -5px -5px 5px rgba(74, 114, 156, 0.2),
        inset 5px 5px 5px rgba(74, 114, 156, 0.2);
}

.event {
    width: 300px;
    max-height: 450px;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:
        10px 10px 40px rgba(74, 113, 156, 0.3),
        inset -5px -5px 5px rgba(74, 114, 156, 0.5),
        inset 5px 5px 5px rgba(74, 114, 156, 0.3);
}

#imgSection {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgOutline {
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.eventImg {
    max-height: 150px;
    max-width: 150px;
    object-fit: contain;
    border-radius: 5px;
}

.eventImgBundle {
    max-height: 75px;
    max-width: 75px;
}

#infoSection {
    padding: 0 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.infoRows {
    margin-bottom: 0.5rem;
}

#collectionName {
    font-size: 0.8rem;
    color: rgb(74, 114, 156);
}

#priceSection {
    display: flex;
    align-items: center;
}

#priceSymbol {
    height: 25px;
    margin-left: 0.3rem;
}

.openseaLink {
    height: 1.5rem;
    shape-rendering: crispEdges;
}

#pageBtns {
    margin-top: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}
/* maybe make a general btn style for all btns */
.pageButton {
    cursor: pointer;
    margin: 0 2rem;
    padding: 0.4rem 0.8rem;
    font-weight: bold;
    color: #333944;
    background: none;
    border: none;
    border-radius: 5px;
    box-shadow:
        10px 10px 20px rgba(74, 113, 156, 0.3),
        inset -5px -5px 5px rgba(74, 114, 156, 0.3),
        inset 5px 5px 5px rgba(74, 114, 156, 0.2);
}

.pageButton:disabled {
    filter: invert(51%) sepia(95%) saturate(0%) hue-rotate(228deg) brightness(112%) contrast(88%);
}