
/* duped */
#bundlesComponent {
    display: flex;
    flex-direction: column;
}

/* duped */
#bundlesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    height: 80vh;
}

/* duped */
#bundlesContainer::-webkit-scrollbar {
    width: 15px;
    border-radius: 2rem;
    box-shadow:
        inset -5px -5px 3px rgba(74, 114, 156, 0.2),
        inset 5px 5px 5px rgba(74, 114, 156, 0.2);
}

/* duped */
#bundlesContainer::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    box-shadow:
        inset -5px -5px 5px rgba(74, 114, 156, 0.2),
        inset 5px 5px 5px rgba(74, 114, 156, 0.2);
}

.bundle {
    width: 350px;
    margin: 2rem 1rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:
        10px 10px 40px rgba(74, 113, 156, 0.3),
        inset -5px -5px 5px rgba(74, 114, 156, 0.5),
        inset 5px 5px 5px rgba(74, 114, 156, 0.3);
}

#imagesContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
}

.assetImg{
    height: 150px;
    max-width: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* Duped */
#infoSection {
    padding: 0 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

/* duped */
.infoRows {
    margin-bottom: 0.5rem;
}


.saleEndDate{
    font-size: 0.9rem;
    color: rgb(74, 114, 156);
}

.bundleName{
    font-size: 1.2rem;
}

/* duped */
/* .openseaLink {
    height: 2rem;

    shape-rendering: crispEdges;
} */

